<h1>Display your Pirate here</h1>
Pirate's Name: <%=@pirate.name%><br>
Pirate's Weight: <%=@pirate.weight%><br>
Pirate's Height: <%=@pirate.height%><br>

<h2>Display your first ship here</h2>
Ship Name: <%=@ships.first.name%> <br>
Ship Type: <%=@ships.first.type%> <br> 
Ship Booty: <%=@ships.first.booty%> <br>

<h2>Display your second ship here</h2>
Ship Name: <%=@ships.last.name%> <br> 
Ship Type: <%=@ships.last.type%> <br> 
Ship Booty: <%=@ships.last.booty%> <br>